altgraph==0.17.5
anki==25.9.4
certifi==2026.4.22
charset-normalizer==3.4.7
decorator==5.3.0
distro==1.9.0
idna==3.15
Markdown==3.10.2
orjson==3.11.9
packaging==26.2
protobuf==7.34.1
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PySocks==1.7.1
requests==2.34.2
setuptools==82.0.1
typing_extensions==4.15.0
urllib3==2.7.0
